wandb
pandas
pytorch
pytorch-lightning==2.5.2
polars
diffusers==0.33.1
datasets[audio]==3.6.0
librosa==0.10.2.post1
pysoundfile==0.13.1
accelerate
scipy
torchaudio==2.7.1
transformers
peft==0.15.2
rich
ipython
audiomentations==0.41.0
torch-audiomentations==0.12.0
prefigure==0.0.10
torchtune==0.6.1
torchao==0.11.0